.footer_sec{
    grid-template-columns:35%  20% 20% 20%;
    padding: 60px;
    background-color: rgb(11, 7, 102);
}

.p{
    padding: 0 20px 50px 0;
    margin-left: 30px;
    width: 80%;
}

.d-flex a{
text-decoration: none;
    color:rgb(133, 129, 129);
}

.d-flex{
    font-size:x-large;
    gap: 10px;
}

 .d-flex address,span,.foo-para {
    color:rgb(133, 129, 129);
}

/* Responsive  */

