.card-arrival1 h1{
    text-align: center;
    margin-bottom: 70px;
  }

  .card-arrival1{
    margin-top: 70px;
  }

  /* .card-arrival2{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
  } */
  .cards-10 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    width: 72%;
    margin-left: 208px;
    margin-right: 150px;
    margin-bottom: 30px;
}

.card-data img {
    width: 100%;
    height: 300px;
}

.cards-container {
    margin-top: 60px;
    background-color: rgb(241, 246, 248);
    padding: 20px;
}

.text-center {
    margin-top: 60px;
}

.discount {
    border-radius: 20px;
    padding: 7px;
    background-color: rgb(33, 33, 87);
    color: white;
}

.heart-icon1 {
    margin-left: 290px;
    font-size: 25px;
    opacity: 0;
}

.card-data:hover .heart-icon1 {
    color: black;
    opacity: 1;
}

.card-data p {
    font-size: xx-large;
    font-weight: bold;
}

.plus-btn {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top: -10px;
}

.round{
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
    border: 2px solid rgb(215, 213, 213);
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    
}