.shop_main_div {
    background-image: url('../Images/table.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.cards_6 a{
    text-decoration: none;
    color: black;
}

.product {
    text-align: center;
    font-size: 3rem;
    color: white;
    height: 300px;
    background-color: rgb(8, 1, 1);
    opacity: 60%;
    padding: 8%;

}

.dropdown-toggle {
    background-color: rgb(5, 5, 81);
    color: white;
    padding: 12px;
    border-radius: 20px;
    font-size: x-large;
    margin-left: 50px;
    width: 50%;
}

.dropdown_div {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 3%;
    margin-top: 40px;
}

.dropdown_div input {
    padding: 10px;
    border-radius: 50px;
    width: 95%;
    font-size: x-large;
    color: rgb(39, 37, 37);
    background-color: rgb(232, 228, 228);
    border: 1px solid white;
}

.dropdown-menu {
    width: 50%;
    background-color: rgb(213, 206, 206);
}